/* カスタムスクロールバースタイル */
.nav__content div::-webkit-scrollbar {
  width: 6px;
}

.nav__content div::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.nav__content div::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.nav__content div::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
} 